//Estilos del header
.header {
    background-color: black;
    z-index: 100;
    .navbar {
        .navbar-brand {
            color: white;
            font-family: 'Allison', cursive;
            font-size: 2em;
            text-decoration: none;
        }
        ul {
            font-family: 'IBM Plex Sans Thai', sans-serif;
            .dropdown-menu {
                background-color: black;
            }
            li {
                a {
                    font-size: 1.2em;
                    color: white;
                }
            }
        }
    }
}

#cargando {
    display: none;
}

.table{
    color: white;
}

.hide{
    display: none;
}

.grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-gap: 6rem 2.5rem;
}

.grid-container{
    padding: 2rem;
    border-radius: 5px;
}
